<ion-view view-title="{{movie.data.title}}">
  <ion-content>
    <div class="row">

      <div id="movie-stream-info" class="list card">

        <div class="item item-image" ng-controller="PlayerController as controller">
          <div class="videogular-container">
            <videogular vg-player-ready="controller.onPlayerReady($API)" vg-theme="controller.config.theme">
              <vg-media vg-src="controller.config.sources"></vg-media>

              <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
              </vg-controls>

              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>
              <vg-poster vg-url="controller.config.plugins.poster"></vg-poster>
            </videogular>
          </div>
        </div>

        <div class="item">
          <h2>{{movie.data.title}}</h2>
          <p>{{movie.data.release_date}}</p>
          <span>{{movie.local.video}} [{{movie.local.audio}}]</span>
          <p>{{movie.local.size|bytes}}</p>
        </div>

        <div class="item item-body">
          {{movie.data.overview}}
        </div>

        <div class="item">
          <button class="button button-small icon-left ion-social-youtube-outline button-assertive" ng-click = "showTrailer(movie.data.videos.results)">Ver trailer</button>
          <button class="button button-small icon-left {{ movie.watchlist ? 'ion-ios-minus-outline button-royal' : 'ion-ios-plus-outline button-positive' }}" ng-disabled="watchlistWorking" ng-click="watchlist()">Watchlist</button>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
