<ion-view view-title="Películas">
  <ion-content>
    <div class="list">
      <a class="item row" collection-repeat="movie in movies" href="#/app/movie/{{movie._id}}">
        <div class="col col-media">
          <img class="img-poster img-poster-92" ng-src="https://image.tmdb.org/t/p/w92{{movie.data.poster_path}}" height="138" width="92">
        </div>
        <div class="col">
          <h2>{{movie.data.title}}</h2>
          <p class="item-text-wrap">{{movie.data.overview}}</p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
