<ion-view view-title="Series" hide-back-button="true">
  <div class="bar bar-subheader bar-header item-input-inset" ng-show="showSearch">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="buscar..." ng-model="search.data.name">
    </label>
  </div>
  <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a data-tap-disabled="true" class="button button-icon icon positive" ng-click="filterWatchList()" ng-class="{'ion-ios-list-outline':!showWatchList,'ion-ios-list':showWatchList}" ></a>
    <a data-tap-disabled="true" class="button button-icon icon positive" ng-click="toggleSearch()" ng-class="{'ion-ios-search':!showSearch,'ion-ios-close-outline':showSearch}"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <a class="item row" collection-repeat="tvshow in tvshows | filter:search" href="#/app/tvshows/{{tvshow.data.id}}">
        <div class="col col-media">
          <img class="img-poster img-poster-92" ng-src="https://image.tmdb.org/t/p/w92{{tvshow.data.poster_path}}" height="138" width="92">
        </div>
        <div class="col">
          <h2>{{tvshow.data.original_name}}</h2>
          <p class="item-text-wrap drop">{{tvshow.data.overview}}</p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>