<ion-view view-title="Temporada {{season.number}}">
  <ion-content>
    <div class="list">
      <div class="item row">
        <div class="col col-media">
          <h2> Temporada {{season.number}}</h2>
          <img class="img-poster img-poster-92" ng-src="{{mirrorURL}}/t/p/w92{{seasonData.poster_path}}" height="138" width="92">
          <h3 style="color: #999;">({{seasonData.air_date}})</h3>
        </div>
        <div class="col">
          <a class="item row" ng-repeat="episode in season.episodes" href="#/app/tvshows/{{tvshow.data.id}}/{{season.number}}/{{episode.number}}">
            <div class="col">
              <h3>Episodio {{episode.number}}: {{episode.name}}</h3>
              <span class="sub">({{seasonData.episodes[episode.number].air_date || "No emitido"}})</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
