<ion-view view-title="{{tvshow.data.title}}">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="row">
          <div id="movie-stream-info" class="card">
            <div class="item item-text-wrap">
              <div class="row">
                <div class="col">
                  <h2>{{tvshow.data.original_name}} <small>({{tvshow.data.first_air_date}})</small></h2><br />
                </div>
                <div class="col text-right">
                  <button class="button button-small icon-left ion-social-youtube-outline button-assertive" ng-click = "showTrailer(tvshow.data.videos.results)">Ver trailer</button>
                  <button class="button button-small icon-left ion-ios-plus-outline button-energized" ng-click="addToWatchlist()">Añadir a la watchlist</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="list">
              <button class="button button-small icon-left ion-eye button-balanced" ng-repeat="season in tvshow.data.seasons" ng-click="changeSeason(season.season_number)">
                Temporada {{season.season_number}}<small>({{season.air_date}})</small>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class="item row" ng-repeat="episode in currentSeason.episodes" href="#/app/tvshows/{{tvshow.data.id}}/{{currentSeason.season_number}}/{{episode.episode_number}}">
              <div class="col">
                <h2>Episodio {{episode.episode_number}}: {{episode.name}} <small>({{episode.air_date}})</small></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
