/* Empty. Add your own CSS if you like */

p.item-text-wrap {
    overflow: initial;
    white-space: initial;
}

div.col.col-media {
    -webkit-flex: unset;
    -moz-box-flex: unset;
    -moz-flex: unset;
    -ms-flex: unset;
    width: unset;
}
img.img-poster {
    width: 100%;
    height: auto;
}

img.img-poster-92 {
    height: 138px;
    width: 92px;
}
img.img-poster-154 {
    height: 229px;
    width: 154px;
}
img.img-poster-185 {
    max-height: 278px;
    max-width: 185px;
}
img.img-poster-342 {
    max-height: 278px;
    max-width: 342px;
}
img.img-poster-500 {
    max-height: 278px;
    max-width: 500px;
}
img.img-poster-780 {
    max-height: 278px;
    max-width: 780px;
}

.drop{
    max-height: 100px;
    overflow-y: hidden !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropDown{
    max-height: none;
    overflow-y: visible;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sub {
    color: #999;
    font-size: 10px;
    text-align: right;
}

ion-scroll {
    background-color: #333;
}

#carroulsel-seasons {
    margin: 8px;
    width: -webkit-max-content;
    width: max-content;
}

#carroulsel-seasons > .season-item {
    padding-right: 8px;
    display: block;
    float: left;
    width: 154px; 
    height: 300px;
}
/* Movie View */

#movie-stream-player {
    width: 100%;
    height: 100%;
}
#movie-stream-info {
    width: 100%;
}